body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(54, 69, 79, 1));
  text-align: center;
  font-family: 'Open Sans';

}

.game-container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-family: Open Sans;
}

.game-img {
  width: 100%;
  max-width: 100%;
  border: 3px solid white;
}

.game-title {
  margin: 10px 0;
  color: white;
}

.game-description {
  border: 3px solid white;
  padding: 20px;
  text-align: left;
  margin-top: 10px;
  color: white;
}

.back-link {
  margin-top: 330px;
}

.back-link a {
  color: white;
  text-decoration: none;
}
